{{ define "main" }}
<style>
  .two-parts {
    padding-top: var(--size-1);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .profile-pic {
    width: var(--size-19);
    height: var(--size-19);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
  }
</style>

<div class="two-parts">
  <img class="profile-pic" src="https://avatars.githubusercontent.com/u/91879372" alt="profile pic">
  <div>
    {{ .Content }}
  </div>
</div>
{{ end }}