<title>{{ .Title }} | DuskyElf</title>
<meta charset="UTF-8">
<!-- meta name="keywords" content="HTML, CSS, JavaScript" -->
<meta name="author" content="DuskyElf">
<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }} | DuskyElf">
<meta property="og:description" content="{{ .Description }}">
<!-- <meta property="og:image" content="{{ .Params.image | safeURL }}"> -->

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="duskyelf.pages.dev">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }} | DuskyElf">
<meta name="twitter:description" content="{{ .Description }}">
<!-- <meta name="twitter:image" content="{{ .Params.image | safeURL }}"> -->