*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 120%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background-color: var(--background);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem 3rem 1rem 3rem;
}

::selection {
  background-color: var(--selection);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .name-logo {
  font-size: 4rem;
  text-decoration: none;
  font-family: "Yeseva One", serif;
  text-shadow: 2px 2px var(--tertiary);
}

nav .menu {
  display: flex;
  position: relative;
  align-items: center;
}

nav .menu .item {
  font-size: 1.5rem;
  padding-right: 2rem;
}

.icon {
  fill: var(--foreground);
}

#theme-selector {
  cursor: pointer;
}

#theme-menu {
  display: none;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  border-radius: 5px;
  border: 2px solid var(--foreground-muted);
}

#theme-selector:focus #theme-menu {
  display: block;
}

#theme-menu .theme {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--foreground);
}

.dot.foreground {
  background-color: var(--foreground);
}

.dot.background {
  background-color: var(--background);
}

.dot.secondary {
  background-color: var(--secondary);
}

.dot.tertiary {
  background-color: var(--tertiary);
}

main {
  flex-grow: 1;
  padding-top: 2rem;
}

a {
  color: var(--secondary);
}

strong {
  color: var(--secondary);
}