*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 120%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background-color: var(--background);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem 3rem 1rem 3rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .name-logo {
  font-size: 3rem;
  font-family: "Yeseva One", serif;
}

nav .menu {
  display: flex;
  align-items: center;
}

nav .menu .item {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  flex-grow: 1;
  padding-top: 2rem;
}

.icon {
  fill: var(--foreground);
}

a {
  color: var(--blue);
}

select {
  cursor: pointer;
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}