:root {
  --selection: color-mix(in srgb, var(--tertiary), var(--background) 50%);
  --foreground-muted: color-mix(in srgb, var(--foreground), var(--background) 25%);
  --background-muted: color-mix(in srgb, var(--background), var(--foreground) 10%);
}